.boardName{
	padding: 0 6px;
	font-style: italic;
  opacity: .8;
  cursor: pointer;
	font-size: 18px;
	font-weight: 700;
	line-height: 32px;
  color: #f6f6f6;
}
.boardName:hover{
	background-color: rgb(2, 106, 167);
}
.rename-wrapper{
	width: 305px;
	position: absolute;
	left: 5px;
	background-color: #fff;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
}
.renameBoard{
	display: flex;
	justify-content: space-around;
  color: #6b808c;
  line-height: 40px;
  border-bottom: 1px solid rgba(9,45,66,.13);
  overflow: hidden;
}
.renameBoard>span:nth-child(1){
	padding-left: 50px;
	margin: 0 10px;
}
.renameBoard>span:nth-child(2){
	cursor: pointer;
}
.renameName{
	display:flex;
	flex-direction: column;
	font-weight: 700;
    color: #17394d;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 8px;
    margin-left: 10px;
}
.renameName>input{
	margin: 4px 0px 12px;
	border: 2px solid #aaa;
	border-radius: 5px;
	width: 270px;
}
.renameName>input:hover{
	background-color: #ebeef0;
	box-shadow: inset 0 0 0 2px #dfe3e6;
}
.renameName>button{
	width: 102px;
	height: 32px;
  background-color: #519839;
  font-weight: 700;
  box-shadow: 0 1px 0 0 #3f6f21;
  border: none;
  color: #fff;
  padding-left: 24px;
  padding-right: 24px;
}