.PopUp-wrapper{
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.6);
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	display: flex;
}
.cardInfo-popUp{
	width: 250px;
margin:100px auto;
background-color: #ebeef0;
border-radius: 5px;
padding: 20px;
height: fit-content;
}
.cardInfo-header{
 display: flex;
 margin-bottom:20px;
}
.cardInfo-header>div>div{
	display:flex;
	flex-direction: column;
}
.cardInfo-header>div>div>textarea {
	background: transparent;
    border: 1px solid transparent;
    border-radius: 3px;
    box-shadow: none;
    font-size: 20px;
    font-weight: 700;
    height: 24px;
    line-height: 24px;
    margin: -5px;
    min-height: 24px;
    padding: 4px;
    resize: none;
}
.cardInfo-header>div>div>textarea:active {
    background: #fff;
    border: none;
    box-shadow: inset 0 0 0 2px #0079bf;
		resize: none;
}
.cardInfo-header>div>div>span:nth-child(1){
 cursor:pointer;
 margin-left: 10px;
}
.cardInfo-header>div>div>span:nth-child(2){
	font-size: 12px;
	color: rgba(152, 152, 152, 1);
}
.cardInfo-header>div>span{
    cursor: pointer;
}
.cardInfo-header>h1{
	margin: 0;
}
.cardInfo-Description{
	display: flex;
	flex-direction: column;
}
.cardInfo-Description>textarea{
	background: transparent;
    border: 1px solid;
    border-radius: 3px;
    box-shadow: none;
    font-size: 15px;
    font-weight: 700;
    margin-top: 5px;
    min-height: 40px;
    resize: none;
}
.cardInfo-Description>textarea:active{
    background: #fff;
    border: none;
    box-shadow: inset 0 0 0 2px #0079bf;
		resize: none;
}
.cardInfo-Comments-wrapper{
	display:flex;
	flex-direction: column;
	margin: 20px 0 20px 0;
}
.cardInfo-Comments-addComents-wrapper{
	display:flex;
	flex-direction: column;
}
.cardInfo-Comments-all{
}
.cardInfo-Comments-addComents-wrapper>textarea{
	background: transparent;
    border: 1px solid;
    border-radius: 3px;
    box-shadow: none;
    font-size: 15px;
    font-weight: 700;
    margin-top: 5px;
    min-height: 40px;
    resize: none;
}
.cardInfo-Comments-addComents-wrapper>textarea:active{
    background: #fff;
    border: none;
    box-shadow: inset 0 0 0 2px #0079bf;
		resize: none;
}
.cardInfo-Comments-single{
	display: flex;
	flex-direction: row;
	margin: 20px 0 20px 0;
}
.cardInfo-Comments-single>div>div{
    display: flex;
    flex-direction: column;
}
.cardInfo-Comments-single>div{
    display: flex;
    flex-direction: row;
}
.btn-delete{
    background: red;
    font-weight: 700;
  box-shadow: 0 1px 0 0 #3f6f21;
  border: none;
  border-radius: 5px;
  color: #fff;
  width: 70px;
    height: 30px;
    margin-left: 15px;
    margin-top: 30px;
}
.btn-delete-card{
    margin-left: -2px;
    margin-top: 5px;
    width: 90px;
}
.cardInfo-Description>div>button,.cardInfo-Comments-addComents-wrapper>button{
	width: 70px;
	height: 30px;
	margin-right: 15px;
	margin-top: 10px;
  background-color: #519839;
  font-weight: 700;
  box-shadow: 0 1px 0 0 #3f6f21;
  border: none;
  border-radius: 5px;
  color: #fff;
}
.comment-author{
	color: #17394d;
    font-family: Helvetica Neue,Arial,Helvetica,sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}
.comment-text{
	padding: 5px 10px;
	background-color: #fff;
	border-radius: 5px;
	width: fit-content;
    resize: none;
}
button{
    cursor: pointer;
}