.PopUp-container{
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.6);
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	display: flex;
}
.PopUp{
	width: 360px;
	height: 300px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 20px;
	margin: 10% auto;
	border: 2px solid;
	border-radius: 30px;
	background-color: rgba(175,175,175, 1);
}
.PopUp>h1{
	margin-top: 50px;
	font-family: 'Dosis', sans-seri;
}
.welcomeInput{
	width: 240px;
	height: 30px;
	line-height: 17px;
	margin: 6px 8px;
	color: #642f6b;
	font-size: 20px;
	border-width: 2px;
	border-color: #dcdcdc;
	border-radius: 5px;
	font-family: 'Dosis', sans-seri;
	outline: none;
	padding-left: 12px;
	word-spacing: 5px; 
}
.welcomeBtn{
	font-size: 20px;
	padding: 8px 16px;
	margin: 20px auto;
	border-radius: 10px;
	border: 1px solid;
	font-family: 'Dosis', sans-seri;
}