.board{
	display: flex;
}
.list{
	width: 272px;
	height: fit-content;
	background-color: #dfe3e6;
	border-radius: 3px;
	white-space: normal;
	margin: 0 4px;
}
.listName{
	max-height: 30px;
	line-height: 14px;
	border:none;
	resize:none;
	background: initial;
	font-weight: 700;
	color: #17394d;

	box-sizing: border-box;
  font-family: Helvetica Neue,Arial,Helvetica,sans-serif;
  font-size: 14px;
  margin: 5px 5px;
  padding: 10px 8px 8px;
  outline: none;
  overflow: hidden;
  box-shadow: none;
  cursor: pointer;
}
.listName:focus{
	min-height: 30px;
	line-height: 14px;
	outline: none;
	box-shadow: none;
	border: 2px solid rgb(63,72,204);
	background-color: #fff;
  border-radius:5px;
  margin: 5px 5px;
  padding: 10px 8px 8px;
}
.task-text{
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(9,45,66,.25);
  cursor: pointer;
  display: block;
  max-width: 300px;
  text-decoration: none;
  margin: 8px;
  padding: 5px
}
.task-list{
	display: flex;
	flex-direction: column;
}
.addTask{
	margin-left: 8px;
	margin-bottom: 10px;
	margin-top: auto;
	cursor: pointer;
}
.addTask-box{
	display:flex;
	flex-direction: column;
}
.addTask-box>div>button{
	margin-top: 10px;
	margin-right: 10px;
	background-color: #5aac44;
  box-shadow: 0 1px 0 0 #3f6f21;
  border: none;
  color: #fff;
  padding: 6px 12px;
  text-align: center;
}
.addTask-box>textarea{
	max-width: 235px;
	min-width: 235px;
	font-family: Helvetica Neue,Arial,Helvetica,sans-serif;
  font-size: 14px;
  padding: 10px 10px 10px 10px;
  overflow: hidden;
  outline:none;
  border-radius:5px;
  resize: none;
  height: fit-content;
}