.header{
	height: 32px;
	padding: 4px;
	background-color: rgb(2, 106, 167);
	display: flex;
	justify-content: center;
}
.header>span{
	font-size: 25px;
	color: rgba(255,255,255,0.6);
	font-style: italic;
	font-family: 'Dosis', sans-seri;
}